body {
    margin: 0;
}

.wrapper {
    width: 100%;
    display: flex;

    .container {
        width: 100%;
        border-right: 2px solid gray;
        padding: 20px;
        box-sizing: border-box;

        &_result {
            width: 40%;
            border-right: none;
        }

        .task{

            height: 300px;
            display: flex;
            align-items: center;
            justify-content: center;
        
        .square {
            // только исправления, новых св-в не добавлять!
            width: 200px;
            height: 200px;
            background-color: green;
            color: white;
            font-size: 40px;
            font-weight: bold;
            box-shadow: 5px 5px 5px 3px grey;
            border: 1px solid red;
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;
            padding: 10px;
        
        
        }
       
    }
}
}






.clip {
    width: 200px;
    height: 100px;
    background: linear-gradient(to right, orange,pink);
    border-bottom: 3px solid red;
    border-left: 3px solid green;
    clip-path: polygon(0 0,80% 0,80% 20%, 100% 0,100% 100%,0 100%);
}

.news {
    width: 300px;

    &__title {
        font-weight: bold;
        font-size: 25px;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    &__text {
        font-size: 16px;
        text-align: right;
    }
}

.pip {
    text-decoration: underline;
    text-transform: uppercase;
    color: red;
}


 

.perspective {
    width: 200px;
    height: 200px;
    background: orange;
    position: relative;

    &__inside-1 {
        width: 150px;
        height: 150px;
        background-color: green;
        position: relative;
        left: 50%;
        top: -55px;
        box-shadow: 0 0 10px 0 black;
    }

    &__inside-2 {
        width: 100px;
        height: 100px;
        background-color: red;
        position: relative;
        left:26%;
        top:-100px;
        box-shadow: 0 0 10px 0 black;
    }
}
